.post .content h2 {
	font-size: small;
}
.post .content h3 {
	font-size: small;
}
.post .content h4 {
	font-size: smaller;
}
.post .content h5 {
	font-size: smaller;
}
.post .content h6 {
  font-size: smaller;
}
.post .content {
  min-width: 600px;
  text-align: justify;
}
.page-footer {
	text-align: center;
	padding-top: 40px;
}
.heading-image {
	padding: 20px;
}
.nav-pills.nav-stacked > li > a {
	border: 1px solid rgb(229, 229, 229);
}