.post .content h2 {
	font-size: small;
}
.post .content h3 {
	font-size: small;
}
.post .content h4 {
	font-size: smaller;
}
.post .content h5 {
	font-size: smaller;
}
.post .content h6 {
	font-size: smaller;
}

footer {
	text-align: center;
}
