<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} | {% endif %} Sans Bytes</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
	</head>

	<body>
		<div class="row-fluid page-header">
			<header>
				<a href="/">
					<div class="span4 offset1">
						<h1>Sans Bytes</h1>
						<span class="small">Daniel Heath blogs here</span>
					</div>
				</a>
			</header>
		</div>

		<br/>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2">

				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="/furious-earth">Furious Earth (a game for two players)</a>
					</li>
				{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
				{% endfor %}
				</ul>

		    </div>
		    <div class="span10">

				<div id="content">
					{{ content }}
				</div>

		    </div>
		  </div>
		</div>

		<footer class="row-fluid">
			&copy; 2013

			<address>
			  <strong>Daniel Heath</strong> |
			  <a href="mailto:daniel@heath.cc">daniel@heath.cc</a> |
			  <a href="http://danielrheath.net/">Blog</a> |
			  <a href="https://twitter.com/DanielrHeath">Twitter</a> |
			  <a href="https://plus.google.com/114859106574535166251">Google+</a>

			</address>
		</footer>

	</body>

</html>
