body, html {
  margin: 0;
  background-color: #eeeeee; }

header {
  background-color: #8ae; }
  header .home-link {
    display: flex;
    flex-direction: row;
    color: #333;
    text-decoration: none;
    vertical-align: middle;
    font-size: 200%;
    min-height: 254px; }
    @media (max-width: 650px) {
      header .home-link {
        font-size: 100%;
        min-height: 100px; } }
    header .home-link .heading-image {
      height: 250px;
      width: 250px;
      margin: 2px;
      background: url("/Avatar.jpg");
      background-size: contain;
      border-radius: 50%; }
      @media (max-width: 650px) {
        header .home-link .heading-image {
          height: 100px;
          width: 100px; } }
    header .home-link .header-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2em; }
    header .home-link h1 {
      margin: 0; }

nav {
  background-color: #8e8;
  padding: 1em;
  font-size: 200%; }
  nav > details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    nav > details a, nav > details details {
      padding-left: 1em;
      display: block;
      cursor: pointer;
      margin: 0.2em 0; }
    @media (min-width: 60em) {
      nav > details {
        flex-direction: row; } }

/* Single post
------------------------- */
.post {
  margin-bottom: 84px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 12px;
  max-width: 60em;
  margin: auto; }

address {
  display: inline; }
